<nav class="navbar navbar-inverse navbar-static-top Header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-hide" href="#" target="_blank">Home
        </a>
    </div>
    <ul class="nav navbar-nav navbar-middle">
      <li>
        <a routerLink='/login' routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink='/comics' routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span> comics</a>
      </li>
    </ul>
  </div>
</nav>

<app-searchresult></app-searchresult> 