<nav class="navbar navbar-inverse navbar-static-top Header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-hide" href="#" target="_blank">Home
        </a>
    </div>
    <ul class="nav navbar-nav navbar-middle">
      <li>
        <a routerLink='/login' routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink='/comics' routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span> comics</a>
      </li>
    </ul>
  </div>
</nav>
<!--<form>
    <ul class="nav navbar-nav navbar-middle">
      <div class="container">
  <div class="col-sm-4">
  </div>
    <div class="col-sm-4">
  <input type="text" name="search" placeholder="Search.." [(ngModel)]="SearchItem">
  <button class="btn btn-info" (click)="search()">
        <span class="glyphicon glyphicon-search"></span>Search
        
  </button>
  </div>
      </div>
      
    </ul>
  
</form>-->
<!--<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="SearchItem">
      <button type="submit" (click)="search()" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>-->
<!--<div *ngIf="GetSearch">
  <h3> Search results </h3>
  <div class="container">
    <label> Name </label> {{GetSearch.Name}}
    <br>
    <img src="{{GetSearch.image}}" height="42" width="42"><br>
    <label> startson</label> {{GetSearch.starts_on}}
  </div>
</div>-->

<app-searchresult>
</app-searchresult> 