<form>
  <!--<ul class="nav navbar-nav navbar-middle">-->
  <div class="container">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <input type="text" name="search" placeholder="Search.." [(ngModel)]="Searchdata">
      <button class="btn btn-info" (click)="search()">
        <span class="glyphicon glyphicon-search"></span>Search
        
  </button>
    </div>
  </div>

  <!--</ul>-->

</form>


  <div *ngIf="flag1">
  <h3> Search results </h3>
    
<div *ngFor="let item of searchresults">
    
    <div class="container">
      <label> Name </label> {{item.Name}}
      <br>
      <label> startson</label> {{item.starts_on}}<br>

      <label> story</label> {{item.story}}

    </div>

  </div>
</div>
<div *ngIf="flag">
  <p> No results Found </p>
</div>