<h1> seasons </h1>
<div>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Startson</th>
      <th>Ends On</th>


    </thead>
    <tbody>
      <tr *ngFor="let item of seasons">
        <td>{{item.Name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.starts_on}}</td>
        <td>{{item.ends_on}}</td>
        <button (click)="dseasons(item._id)" type="submit" class="btn btn-danger">Delete</button>

        <button (click)="savesea(item._id)" type="submit" class="btn btn-success">Edit</button>


      </tr>
    </tbody>
  </table>

</div>

<button (click)="openaaddform()" class="btn btn-success"> Add Seasons </button>
<div *ngIf="flag">
  <form #form1="ngForm" (ngSubmit)="addseasons(form1.value)">
    <div class="form-group">
      <input required type="text" name="Name" [(ngModel)]="name_1" #name="ngModel" placeholder="Name of series" class="form-control">
    </div>
    <div class="form-group">
      <input required type="text" name="description" [(ngModel)]="desc" #description="ngModel" placeholder="description" class="form-control">
    </div>
    <div class="form-group">
      <input required type="text" name="Season_id" [(ngModel)]="ser" #id="ngModel" placeholder="season ID" class="form-control">
    </div>
     <div class="form-group">
      <input required type="text" name="Series_id" [(ngModel)]="ser1" #id="ngModel" placeholder="series ID" class="form-control">
    </div>
    <div class="form-group">
      <label>StartsOn</label>
      <ng2-datepicker required name="starts_on" [(ngModel)]="start"></ng2-datepicker>
    </div>
    <div class="form-group">
      <label>Endson</label>
      <ng2-datepicker required name="ends_on" [(ngModel)]="end"></ng2-datepicker>
    </div>
    <button type="submit" class="btn btn-success">submit</button>
  </form>
</div>


<br><br>


<div *ngIf="flag1">
  <form #form1="ngForm" (ngSubmit)="updatesea(form1.value)">
    <div class="form-group">
      <input required type="text" name="Name" [(ngModel)]="name1" #name="ngModel" placeholder="Name of series" class="form-control">
    </div>
    <div class="form-group">
      <input required type="text" name="description" [(ngModel)]="desc" #description="ngModel" placeholder="description" class="form-control">
    </div>
    <div class="form-group">
      <label>StartsOn</label>
      <ng2-datepicker required name="starts_on" [(ngModel)]="start"></ng2-datepicker>
    </div>
    <div class="form-group">
      <label>Endson</label>
      <ng2-datepicker required name="ends_on" [(ngModel)]="end"></ng2-datepicker>
    </div>
    <button type="submit" class="btn btn-success">submit</button>
  </form>
</div>