<h1> users </h1>
<div>
  <table class="table table-striped">
    <thead>
      <th>Username</th>
      <!--<th>Password</th>-->
      <th>Role</th>

    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item.username}}</td>
        <!--<td>{{item.password}}</td>-->
        <td>{{item.role}}</td>

        <button (click)="save(item.username)" type="submit" class="btn btn-success">Edit</button>
        <button (click)="duser(item._id)" type="submit" class="btn btn-danger">Delete</button>


      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="flag">
  <form #form1="ngForm" (ngSubmit)="updateuser(dropdown.value)">
    <div class="form-group">
      <input required type="text" name="password" [(ngModel)]="Newuser.password" #name="ngModel" placeholder="Change password" class="form-control">
    </div>
         <select #dropdown>
  <option  name="role" value="Admin"  ngDefaultControl>Admin</option>
  <option   name="role" value="user"  ngDefaultControl>user</option>
</select>

    <button type="submit" class="btn btn-success">Proceed</button>
  </form>
</div>
<button (click)="flagd()" type="submit" class="btn btn-success">Add User</button>

<div *ngIf="flag1">
  <div class="container">

    <form (ngSubmit)="addusers(dropdown.value)" #DetailsForm='ngForm'>
      <input type="text" name="username" #Series placeholder="Enter the user name" [(ngModel)]="Newuser.username">
      <input type="text" name="password" #Data placeholder="Enter description" [(ngModel)]="Newuser.password">
    
        <select #dropdown>
  <option  name="role" value="Admin"  ngDefaultControl>Admin</option>
  <option   name="role" value="user"  ngDefaultControl>user</option>
</select>


      <button>Submit</button>
    </form>
  </div>
</div>
        <!--<a [routerLink]="['comics']">comics</a>-->

<!--<router-outlet name="comics"></router-outlet>-->
