<h1> series </h1>
<div>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Createdby</th>

    </thead>
    <tbody>
      <tr *ngFor="let item of series">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.created_by}}</td>
        <button (click)="dseries(item._id)" type="submit" class="btn btn-danger">Delete</button>
        <button (click)="saveseri(item._id)" type="submit" class="btn btn-success">Edit</button>

      </tr>
    </tbody>
  </table>
</div>

<button (click)="openaaddform()" class="btn btn-success"> Add Series </button>
<div *ngIf="flag">
  <div class="container">

    <form (ngSubmit)="addseries()" #DetailsForm='ngForm'>
      <input type="text" name="series" #Series placeholder="Enter the series name" [(ngModel)]="NewSeries.name">
      <input type="text" name="description" #Data placeholder="Enter description" [(ngModel)]="NewSeries.description">

      <input type="text" name="created_by" #Data placeholder="Created by" [(ngModel)]="NewSeries.created_by">
      <input type="text" name="Series_id" #Data placeholder="Enter series id" [(ngModel)]="NewSeries.Series_id">

      <button>Submit</button>
    </form>
  </div>
</div>

<div *ngIf="flag1">
  <form #form1="ngForm" (ngSubmit)="updateser(form1.value)">
    <div class="form-group">

      <input type="text" name="name" #Series placeholder="Enter new series name" [(ngModel)]="newname">
    </div>

    <div class="form-group">
      <input required type="description" name="description" [(ngModel)]="desc" #description="ngModel" placeholder="description" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Proceed</button>
  </form>